/*///////////////// RESET ///////////////////////////////////////////////////////////*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*///////////////// PAGE STYLES ////////////////////////////////////////////////////////////////*/

/*---- body styles -------*/ /* Color Palette: #10E4C9 #fff #FCF5C5 #F4C6C6 #ccc */
body {
    background-color: #fff !important;
    /* font-family: 'Baloo Bhaijaan', cursive; /// for decoration only /// */
    font-family: 'Raleway', sans-serif; !important; /* 100, 300, 600 */
}

* {
    border-radius: 4px;
}

/*body borders*/
#top, #bottom, #left, #right {
	background: #10E4C9;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

/*---- main structural styles -------*/ /* Color Palette: #10E4C9 #fff #fdf69e ##ab99e6 #ccc */
.container {
    
}
.jumbotron {
    background-color: #fff !important;
    text-align: center;
    height: 150px !important;
}
.row {
    
}
.trivia-stage { /* this is the col-md-12 that holds the questions */ 
    background-color: #fdf69e;
    width: auto;
    height: auto;
    padding: 10px 20px !important;
    box-shadow:  0px 0px 10px #ccc;
    display: none;
    text-align: center;
}

.start {
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    width: 40vw;
    height: 20vh;
    display: block;
    background-color: #10E4C9;
    text-align: center;
    padding: 8px;
    box-shadow:  0px 0px 10px #ccc;
    z-index: 1;
    font-family:'Raleway', sans-serif; !important;
}

.popup {
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    width: 60vw;
    height: 40vh;
    display: none;
    background-color: #10E4C9;
    text-align: center;
    padding: 8px;
    box-shadow:  0px 0px 10px #ccc;
    z-index: 1;
}

.timeup {
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    width: 60vw;
    height: 40vh;
    display: none;
    background-color: #10E4C9;
    text-align: center;
    padding: 8px;
    box-shadow:  0px 0px 10px #ccc;
    z-index: 1;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem 0rem 2rem 0rem;
    box-shadow:  0px 0px 10px #ccc;
    text-align: center;
    background-color: #fff;
    color: #10E4C9;
    text-align: center !important;
    font-size: 90%;
    font-family:'Raleway', sans-serif; !important;
}

/*---- page font styles -------*/ /* Color Palette: #10E4C9 #fff #fdf69e ##ffe9e7 #ccc */

p {
    font-family:'Raleway', sans-serif; !important; /* 100, 300, 600 */
    font-weight: 100;
}

h1, h2, h3 {
    color: #fff !important;
}

h1 {
    font-family:'Baloo Bhaijaan', cursive !important;
}

h2 {
    font-size: 150% !important;
}

h3 {
}

.jumbotron h1 {
    font-family: 'Baloo Bhaijaan', cursive;
    color: #10E4C9 !important;
}
.jumbotron p {
    font-family: 'Raleway', sans-serif; /* 400, 400i, 600 */
    color: #10E4C9 !important;
}
/*---- little details -------*/ /* Color Palette: #10E4C9 #fff #fdf69e ##ffe9e7 #ccc */

button {
    display: block;
    margin: 10px auto !important;
    background-color: #fdf69e;
    border: none;
    color: #10E4C9 !important;
    font-family: 'Raleway', sans-serif !important; /* 100, 300, 600 */
    font-size: 15px !important;
    font-weight: 100;
}

button:focus {
    outline: 0;
}