/*// COLORS //
Dark Green: #082b1f;
Light Green: #174c49;
Purple: #9f93ad;
Pink: #e7b3b1;
Light Grey: #e9e5e9;
Dark Grey: #646768;

////////////*/

/*///// fonts and other stuff //////*/

body {
    background-color: #646768 !important;
}

* {
    border-radius: 10px;
}

h1, h2, h3, h4 {
    color: #e9e5e9 !important;
    font-size: 100px;
}


p {
    color: #e9e5e9;
    font-size: 20px;
    font-weight: 100;
}