/*///// fonts and other stuff //////*/

body {
    background-color: rgb(74, 66, 68) !important;
}

* {
    border-radius: 10px;
}

h1, h2, h3, h4 {
    color: rgb(74, 66, 68) !important;
    font-size: 100px;
}


p {
    color: #ccc;
    font-size: 20px;
    font-weight: 100;
}


.jumbotron {
    box-shadow: .5px .5px 10px #000;  
    background-color: #c6bfbf !important;
}

.jumbotron h1, p {
    color: rgb(74, 66, 68) !important;
}

.row {
    margin: 40px auto !important;
    width: 90vw;
}
.jumbotron {
    text-align: center;
}

/*///// Game Stage //////*/

.game-stage {
    box-shadow: .5px .5px 10px #000;  
    background-color: #fff;
    text-align: center;
    padding: 20px;
}

.game-stage h1 {
    font-size: 80px;   
}

/*///// user Guest Entry //////*/

.userGuessEntry {
    margin-top: 20px !important;
}


input {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 50px !important;
    border: 10px solid rgb(74, 66, 68) !important;
    font-weight: 100 !important;
}

/*///// Number of Guesses Left //////*/

.guesses {
    margin-top: 20px !important;
    text-align: center !important;
}

#guessesLeft h3 {
    width: 100px;
    height: 100px;
    padding-top: 10px;
    font-weight: 100 !important;
    font-size: 50px !important;
    border: 10px solid rgb(74, 66, 68) !important;
    display: block;
    margin: 0 auto;
}

/*///// Incorrect Guesses //////*/
#incorrect {
    font-size: 50px;
    font-weight: 100;
    color: rgb(74, 66, 68);
}