/*
FONTS
font-family: 'Playfair Display', serif;
font-family: 'Spectral SC', serif;

COLORS
Dark Purple: #2E112D
Medium Purple: #540032
Dark Pink: #820333
Medium Pink: #C9283E
Light Pink: #F0433A
*/

* {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: #F0433A;
    font-size: 350%;
}

h2 {
    font-weight: 400;
    color: #540032;
    font-size: 150%;
    text-transform: uppercase;
}

body { 
    color: #f4e3e3 !important;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
}

b {
    font-weight: 400;
}

container {
    /*////////////////SAUCY/////////////////*/
    width: 100%;
    height: 100vh;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    overflow: auto;
    background: linear-gradient(124deg, #2E112D, #540032, #820333, #C9283E, #820333, #540032, #2E112D);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
      animation: rainbow 18s ease infinite;}

    @-webkit-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-moz-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-o-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @keyframes rainbow { 
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
}

.main-content {
    background-color: rgba(62, 54, 54, 0.45);
    width: 50vw;
    margin: 2vh auto;
    box-shadow: 20px 20px 0px #2E112D;
    position: relative;
}

.centered {
    width: 50vw;
    margin: 2vh auto;
    text-align: center;
    font-family: 'Spectral SC', serif;
}


/*/////////////// MATERIALIZE FORM COLORS //////////////*/
/* label color */
.input-field label {
 color: #F0433A !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #F0433A !important;
 border-bottom: #fff !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #F0433A !important;
 box-shadow: 0 1px 0 0 #F0433A !important;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #F0433A !important;
 box-shadow: 0 1px 0 0 #F0433A !important;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 0px !important;
 box-shadow: 0 1px 0 0 #F0433A !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #F0433A !important;
border-bottom: 0px !important;
}
.textarea:focus {
    color: #F0433A !important;
    border-bottom: 1px solid #F0433A !important;
}

.select-dropdown {
    color: #F0433A !important;
    background-color: #540032 !important;
}

.dropdown-content li>a,.dropdown-content li>span {
    color: #F0433A !important;
}

a, a:active {
    color: #fff;
}

a:hover {
    color: #C9283E;
}

.btn {
     background-color: #540032 !important;
}

.label {
    font-size: 200% !important;
}