
/*//////////////////////////////// PAGE COLORS /////////////////////////////////
Dark Blue: #012d41
Teal 1: #56c0cc
Teal 2: #1ca5b8
Light Blue: #daecf3
Red: #ff404e
Very Light Grey: #fcfcfc;
Medium Grey: #f2f2f2;
*/

/*//////////////////////// GLOBAL BODY STYLES ////////////////////////////////*/

    @-webkit-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-moz-keyframes rainbow {
         0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-o-keyframes rainbow {
         0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @keyframes rainbow { 
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }

html, body{
    font-family: 'Open Sans', sans-serif !important;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background:linear-gradient(124deg, #daecf3, 
         #f2f2f2, #daecf3, #fff, #daecf3);
        background-size: 100% 1800%;
        -webkit-animation: rainbow 18s ease infinite;
        -z-animation: rainbow 18s ease infinite;
        -o-animation: rainbow 18s ease infinite;
          animation: rainbow 18s ease infinite;}
}

 main {
    flex: 1 0 auto;
    margin-bottom: 200px;
  }

/* Links */
a {
    color: #b8f0f7;
}
a:hover {
    color: #1ca5b8;
}

/* Container */

body {
    width: 100% !important;
    background: url(img/lil-ear-worms.png);
    background-repeat: repeat;
    background-size: 250px;
    background-attachment: fixed;
    animation: none;
}

.body-content {
    width: 100% !important;
    height: 100%;
}

.navigation-bar {
    width: 95%;
}

/* Table styles */
.table-box {
    margin: 0 auto 100px auto !important;
    width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.76);
    border-top: 6px solid #012d41;
    border-bottom: 6px solid #012d41;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.13);
}
table {
    width: 300px;
    margin: 0 auto !important;
}
tr {
    text-transform: capitalize;
}
th {
    font-weight: 700 !important;
}
th, td {
    padding: 10px !important;
}
.bold {
    font-family: lobster;
    font-size: 150%;
    color: #ff404e;
    padding-bottom: 5px;
}
/* Footer styles */

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0px auto;
    padding: 50px 30px 10px 30px;
    overflow: hidden;
    z-index: 0;
    text-align: left;
    font-weight: 300;
    font-size: 90%;
    color: #fff;
    height: 100px;
    background-image: url(img/footer-bg.png);
    background-size: 250px;
    background-repeat: repeat-x;
    background-position: bottom;
    position: fixed;
}

.footer-text {
    display: inline;
    line-height: 25px;
}
.copyright {
    float: left;
    font-weight: 300;
}
.top-artists {
    float: right;
}

#current-top-artist {
    text-transform: capitalize !important;
    display: inline;
}


/*//////////////////////////////// BODY STYLES ////////////////////////////////*/

/* Index page search bar styles */
.center {
    width: 400px;
    margin: 100px auto;
}

/* box holding the main search bar and logo */
.main-search {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    display: block;
}

/* Styles for the index page logo */
.logo {
    text-align: center;
    margin-top: 30px;
}
.logo img {
    width: 300px;
}

/*//////////////////////////////////////// Top navigation ////////////////////////////////////////*/
/* Box holding all the top navigation elements */

.top-search {
    width: 100%;
    padding: 20px;
    display: none;
}

/* Logo */
.logo-right {
    float: right;
    margin: 10px 30px;
}
.logo-right img {
    width: 200px;
}
.top-left {
    margin: 10px 5px;
    width: 300px;
}

/* Search bar */
.input-field input[type=search] {
    text-align: center;
    font-weight: 700;
    background-color: #fff;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.13) !important;
}
.input-field input[type=search]:focus {
    border-bottom: 3px solid #ff404e !important;
    color: #012d41;
    text-align: center;
}

/*////////////////////////////////// Fan Page Elements /////////////////////*/

#fanpage {
    display: none;
    padding: 0px;
}

.material-icons {
    top: 8px !important;
}

.content {
    margin: 0 auto;
    width: 100%;
}

.artistdetails {
    padding: 20px !important;
    margin: 0px;
}

#artistName {
    font-weight: 700;
    font-size: 400%;
    font-family: Lobster, script;
    color: #ff404e;
    text-align: left;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.13);
    border-top: 6px solid #012d41;
    border-bottom: 6px solid #012d41;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.13);
    background-color: rgba(255, 255, 255, 0.76);
}

.artist-name {
    margin-top: 230px !important;
    text-align: right;
}

#artistPhoto {
    border: 0 !important;
}
#artistPhoto img {
    border-radius: 150px;
    width: auto;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.13);
}

.artist-bio {
    height: 200px;
    overflow: auto;
    line-height: 18px;
    font-weight: 300;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.13);
    padding: 10px 0;
    border-top: 6px solid #012d41;
    border-bottom: 6px solid #012d41;
    background-color: #fcfcfc;
}

#additionalContent {
    margin-bottom: 100px !important;
    border-top: 6px solid #012d41;
    border-bottom: 6px solid #012d41;
    width: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
}


/*//////////////////////////////// PAGE BORDERS-Please don't touch. /////////////////////////////////*/

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Borders*/
#top, #bottom, #left, #right {
	background: #012d41;
	position: fixed;
    z-index: 1;
	}

#left, #right {
    top: 0; bottom: 0;
    width: 15px;
}
#left {
    left: 0; 
}
#right {
    right: 0; 
}
		
#top, #bottom {
    left: 0; right: 0;
    height: 15px;
}
#top {
    top: 0; 
}
#bottom {
    bottom: 0; 
}

@media 

/* Fairly small screens including iphones */
only screen and (max-width: 500px),

/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 

{
	#top, #bottom, #left, #right { display: none; }
}