body {
    background-color: #393636;
    color: beige;
}

* {
    font-family: 'Open Sans Condensed', sans-serif !important;
    text-align: center;
    color: #7b7474;
    border-radius: 0;
    margin: 10px;
}

.container {
        width: 20%;
        height: auto;
        text-align: center;
        padding: 20px;
        margin: 0 auto;
}

.row {
    border: solid 6px white;
}

h3 {
    color: #a09898;
    padding-bottom: 40px;
}

.btn {
    border: none;
    background-color: #fff !important;
    border-radius: 0 !important;
    margin: 2px;
    color: #393636;
}

.btn:hover {
    background-color: beige !important;
}

h2:after {
    content:' ';
    display:block;
    height: 2px;
    width: 20%;
    margin: 12px auto;
    background-color: #bfe1ed;
}

.jumbotron {
    font-family: 'Josefin Slab', serif !important;
    background-image: linear-gradient(#393636,#393636), url();
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 !important;
    color: beige !important;
    text-transform: uppercase;
    width: 90%;
    margin: 0 auto;
}

.gif {
    display: inline-block !important;
}
