
body {
    background-color: #767676;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    font-family: sans-serif;
    color: #767676;
    font-size: 18px;
    box-sizing: border-box;
}

.container {
 /*   border: 3px solid #000; */
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    min-height: 90vh;
}

nav, header, footer {
    background-color: #ccc;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    height: 15%;
    margin-top: 10px;
    display: inline-block;
}

.main-content {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    min-height: 15vh;
    margin-top: 10px;
    vertical-align: top;
}

header, nav, section, article, aside, .headers, .paragraph {
    box-sizing: border-box;
    padding: 10px 0px;
}

section {
    background-color: #ccc;
    float: left;
    width: 39%;
    min-height: 30vh;
}

aside {
    display: inline;
    float: right;
    width: 58.5%;
    background-color: #ccc;
    margin-right: 1%;
    min-height: 30vh;
    margin-top: -15vh;
}

article, .paragraph, .headers {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5px;
}

article {
    background-color: #767676;
    color: #ccc;
}

.paragraph, .headers {
    min-height: 5vh;
}

.headers {
    color: #767676;
    background-color: #ccc;
}

.paragraph {
    color: #767676;
    padding: 10px 0px;
    background-color: #ccc;

}

h1, h2, h3 {
    display: inline-block;
    padding: 0px 5px;
}

footer {
    padding-top: 5vh;
    margin-bottom: 5vh;
}